<ion-content class="ion-padding">

  <h1>Hola</h1>

  <div class="estado-container">
    <p><strong>Estado de ánimo:</strong> Ansioso</p>
    <ion-progress-bar value="0.6"></ion-progress-bar>
  </div>

  <ion-button expand="block" routerLink="/autoevaluacion">
    Realizar Autoevaluación
  </ion-button>

  <ion-button expand="block" color="secondary">
    Practicar ejercicios de respiración
  </ion-button>

  <ion-button expand="block" routerLink="/agenda">
    Agenda y recordatorios
  </ion-button>

  <ion-button expand="block" routerLink="/directorio">
    Directorio de ayuda
  </ion-button>

</ion-content>
